.container-logo {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

.container-logo i {
	font-size: 6rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 6rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}
